body {
    background-color: #ccb4ac;
    font-family: 'Raleway', sans-serif;
    display: flex;
}


#profile-pic{
    width: 250px;
    height: 250px;
    margin: 0 100px;
    display: flex;
    margin-right: auto;
}

/* .about-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 10px;
    margin: 0 50px;
} */

.hello{
    letter-spacing: .15rem;
    padding: 10px;
    text-shadow: 
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

.intro-name{
    letter-spacing: .35rem;
    color: #84a2d2;
    text-shadow: 
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

#speech-bubble{
    background-color: #ebe3d3;
    margin: 0 125px;
    margin-right: auto;
    margin-bottom: 15px;
    padding: 5px;
    width: 200px;
    height: 120px;
    border-radius: 10%;
    line-height: 250%;
}

#description{
    text-align: left;
}